{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
    <h1 class="mb-3">SEND MESSAGE</h1>
    <input type="text" class="form-control mb-2" disabled value="{{ receive_user.username }}">
    <form action="" method="POST" class="form">
    {% csrf_token %}
    {% bootstrap_form message_form layout="inline" %}
    <div class="d-flex justify-content-end">
      {% buttons %}
      <button type="submit" class="btn btn-sm btn-dark mx-2">SEND</button>
      <a class="btn btn-sm btn-dark" href="{% url 'messaos:list_msg' %}" role="button">BACK</a>
      {% endbuttons %}
    </div>
    </form>
{% endblock %}